* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

.container {
  padding: 0;
  margin: 0 auto;
  max-width: 1400px;
}

:root {
  --jet: #333333ff;
  --turquoise: #00ceff;
  --seasalt: #fcfaf9ff;
  --desert-sand: #f3d3bdff;
  --davys-gray: #5e5e5eff;
  --shadow-box: 5px 5px 10px rgba(0, 0, 0, .212);
}