.cadastro {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--davys-gray);
}

.main-cadastro {
    width: 80%;
    height: 80vh;
    display: flex;
}

.img-cadastro {
    width: 50%;
    display: flex;
}

.img-cadastro img {
    width: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.form-cadastro {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 3rem;
    border-radius: 5px;
    background: var(--seasalt);
}

.header-cadastro {
    width: 100%;
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
}

.header-cadastro h1 {
    position: relative;
}

.header-cadastro h1::after {
    content: '';
    display: block;
    width: 45%;
    height: 0.3rem;
    background: var(--turquoise);
    margin: 0 auto;
    position: absolute;
}

.group-cadastro {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1rem;
}

.option-cadastro {
    display: flex;
    width: 50%;
    flex-direction: column;
    margin-bottom: 1.1rem;
}

.option-cadastro select,
.bio-cadastro textarea {
    margin: 0.6rem;
    padding: 0.5rem;
    border: none;
    border-radius: 5px;
    outline: 0.1rem solid var(--davys-gray);
    resize: none;
    transition: all 0.3s ease 0s;
}

.option-cadastro select:hover {
    background: #eeeeee75;
    outline: 0.15rem solid var(--turquoise);
}

.option-cadastro select:focus-visible,
.bio-cadastro textarea:focus-visible {
    background: #eeeeee75;
    outline: 0.15rem solid var(--turquoise);
}

.bio-cadastro label,
.option-cadastro label,
.radio-cadastro label {
    font-size: 1rem;
    font-weight: 600;
    color: var(--jet);
}

.radio-cadastro label i,
.bio-cadastro label i,
.option-cadastro label i {
    margin: 0 0.5rem 0 0;
}

.radio-cadastro {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    border: 0.1rem dashed var(--jet);
    margin: 0 0.6rem 1.1rem;
    padding: 0.5rem;
    border-radius: 5px;
}

.radio-button {
    margin: 0 0.75rem;
}

.bio-cadastro {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.1rem;
    width: 100%;
}

.submit-cadastro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 1550px) {

    .img-cadastro,
    .img-cadastro img {
        display: none;
    }

    .cadastro {
        height: auto;
        min-height: 100vh;
        padding: 1rem;
    }

    .main-cadastro {
        height: auto;
    }

    .form-cadastro {
        width: 100%;
        height: auto;
    }
}

@media screen and (max-width: 1064px) {
    .form-cadastro {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
    }

    .cadastro {
        height: auto;
        min-height: 100vh;
        padding: 1rem;
    }

    .main-cadastro {
        height: auto;
    }

    .radio-cadastro {
        display: flex;
        flex-direction: column;
    }

    .option-cadastro {
        width: 100%;
    }
}